#slight {
  text-align: center;
  color: #714507;
  font-size:28pt;
}
.t-a{
  font-size:28pt;
}
.animal {
  
  float : left;
}
#dear_friends {
  font-size: 32pt;
  color: #714507;
  text-align:center;
  padding-top:85px;
}
