<head>
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  </head>
<h2 id="slight">Давайте знакомиться!</h2>
<img class="animal"src="assets\pic\d_My_name_is/animal.jpg">
<div class="container">
  

  <p><b>Меня зовут Ермолай, и я — президент удивительной страны Кедровии, наполненной полезными для здоровья фитонцидами.</b></p>

    Как вы думаете, почему у нас в кедровом бору все звери здоровы и веселы? Они не знают, что такое кашель или упадок сил, а их носики всегда свободно дышат и улавливают
    запах каждой травинки.<p>

 <p> Потому что есть кедр, бактерицидные свойства которого известны с древних времён.
  В кедровом бору воздух почти стерилен, он оживляет и укрепляет
  изношенные ресурсы организма.</p>

 <p> А этот волшебный аромат кедра! Ммм…</p>

  <p><b>По словам нашей гостьи, милейшей Татьяны Александровны:</b></p>

  <p><span class="t-a">&laquo;Он дарит сказочное состояние блаженства &raquo;.</span></p>
  <p id="dear_friends">Дорогие друзья, я приглашаю вас в Кедровию — страну крепкого
здоровья и долголетия.</p>
</div>
