.fon
  position absolute
  width 100%
  background-image url("../../assets/pic/block3/block3_fon0.png")
  background-repeat no-repeat
  img
    width 100%
    height auto
    opacity 0.4
  .line_fon, .line
    position absolute
    top 160px
    width 100%
    height 230px
    background-image url("../../assets/pic/block3/positive_line_fon.png")
    background-repeat no-repeat
  .line
    background-image url("../../assets/pic/block3/positive_line.png")
    padding-top 50px
    .article, .prim
      position relative
      margin 0 auto
      text-align center
      color white
      width 1200px
      font-size 28px
      span
        color yellow
        text-transform uppercase
    .prim
      font-size 20px
      text-align right
      color yellow