.fon
  img(src="assets/pic/block3/block3_fon1.png")
  .line_fon
  .line
    .article ...экологически чистое помещениие из кедра и кедровой шишки, оказывающее природное <span> позитивное </span> воздействие на организм человека.
    .prim *Не является медицинской услугой

