.fon_face
  height 911px
  background-image url("../../assets/pic/face/fon_forest.png")
  background-repeat no-repeat
  .over
    background-color white
    height 100px
    width 100%
    .logo
      position absolute
      left 375px
      top 10px
    .name_site
      position absolute
      top 30px
      left 475px
    .about_site
      position absolute
      top 65px
      left 475px
    .icon_tel
      position absolute
      top 40px
      left 975px
    .tel
      position absolute
      top 40px
      left 1025px
    .call_me
      position absolute
      top 30px
      left 1270px
      height 40px
      width 270px
      font-size 18px
      dispay block
      margin 0 auto
      border 1px solid #653e2b
      border-radius 20px
      background-color #fff
      padding 10px 20px
      transition all lianer .5s
      text-align center
      cursor pointer
      color #653e2b
      &:hover
        background-color #ccc
  .name
    position relative
    top 100px
    display block
    margin 0 auto
    text-align center
    font-size 85px
    color white
  .about
    position relative
    top 110px
    display block
    text-align center
    margin 0 auto
    color white
    font-size 34px
  .fon_button
    position relative
    top 160px
    height 105px
    background-image url("../../assets/pic/face/fon_for_button.png")
    background-repeat no-repeat
    color white
    .centr_button_block
      position inherit
      top 0
      display block
      text-align center
      margin 0 auto
      //border 1px solid red
      .lit_button
        display inline-block
        margin 0 50px
        cursor pointer
        .image
          width 70px
          height 70px
          border 1px solid white
          border-radius 35px
          img
            position relative
            top 15px
        .image, .text
          display inline-block
        .text
          position relative
          top 15px
          width 180px
  .come
    color white
    position relative
    top 200px
    display block
    text-align center
  .large_button
    position relative
    top 250px
    display block
    text-align center
    margin 0 auto
    background-image url("../../assets/pic/face/button_on_face.png")
    background-repeat no-repeat
    height 113px
    width 388px
    font-size 30px
    padding-top 30px
    cursor pointer